<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmr.usercenter.dao.user_team_relation.UserTeamRelationMapper">
  <resultMap id="BaseResultMap" type="com.jmr.usercenter.domain.entity.user_team_relation.UserTeamRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pk_id" jdbcType="INTEGER" property="pkId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="team_id" jdbcType="VARCHAR" property="teamId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>